# .env.example - Copia este archivo como .env y completa los datos
DB_ROOT_PASSWORD=
DB_NAME=space_venue_db
DB_USER=
DB_PASSWORD=

GOOGLE_OAUTH2_CLIENT_ID=
GOOGLE_OAUTH2_CLIENT_SECRET=
GOOGLE_OAUTH2_REDIRECT_URI=

MERCADOPAGO_ACCESS_TOKEN=

GOOGLE_CREDENTIALS_BASE64=
ID_FOR_GOOGLE_CALENDAR=